h1 {
    color:aqua;
    text-align:center;
}
p{
    font-size:18px;
    color:rgb(46, 19, 88);
    width:800px auto;
    height:auto;
    padding: 30px;
    margin:auto;
    border:2px solid rgb(243, 82, 19);

}
img {
    width:800px;
    display:block;
    border:2px solid rgb(18, 102, 43);
    padding:20px; 
    margin:auto;   
}
ul,ol{
    color:rgb(34, 8, 49);
    font-size:28px;
    margin-bottom:100px;
}
li{
    margin-bottom:20px;
}
.card{
    border:2px solid black;
    padding:10px ;
    margin :20px auto;
    height:360px auto;
    width:360px ;
    background-color: rgb(75, 75, 56);
    text-align:justify;

}
.card h2{
    color:rgb(1, 1, 12);
    text-align: center;
}
.card p{
    font-size:medium;
    color:rgb(58, 2, 2) ;
    border: none;
}
.card img{
    width:250px;
    height:auto;
    display: block;
    border: none;

}
.card-btn{
    display: block;
    margin: 20px auto 0;

    
}